*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0ece6;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Clash-Variable";
  src: url("./assets/fonts/ClashGrotesk-Variable.woff2") format("woff2"),
    url("./assets/fonts/ClashGrotesk-Variable.woff") format("woff"),
    url("./assets/fonts/ClashGrotesk-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Extralight";
  src: url("./assets/fonts/ClashGrotesk-Extralight.woff2") format("woff2"),
    url("./assets/fonts/ClashGrotesk-Extralight.woff") format("woff"),
    url("./assets/fonts/ClashGrotesk-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Light";
  src: url("./assets/fonts/ClashGrotesk-Light.woff2") format("woff2"),
    url("./assets/fonts/ClashGrotesk-Light.woff") format("woff"),
    url("./assets/fonts/ClashGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Regular";
  src: url("./assets/fonts/ClashGrotesk-Regular.woff2") format("woff2"),
    url("./assets/fonts/ClashGrotesk-Regular.woff") format("woff"),
    url("./assets/fonts/ClashGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Medium";
  src: url("./assets/fonts/ClashGrotesk-Medium.woff2") format("woff2"),
    url("./assets/fonts/ClashGrotesk-Medium.woff") format("woff"),
    url("./assets/fonts/ClashGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Semibold";
  src: url("./assets/fonts/ClashGrotesk-Semibold.woff2") format("woff2"),
    url("./assets/fonts/ClashGrotesk-Semibold.woff") format("woff"),
    url("./assets/fonts/ClashGrotesk-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Bold";
  src: url("./assets/fonts/ClashGrotesk-Bold.woff2") format("woff2"),
    url("./assets/fonts/ClashGrotesk-Bold.woff") format("woff"),
    url("./assets/fonts/ClashGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
